/* Chat Window */
.chatWindow {
  flex: 1;
  display: flex;
  position: relative;
  flex-direction: column;
  background: #efebe6;
}

/* Initial window */
.initialWindow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.initialWindow h1 {
  font-size: 4rem;
  color: var(--darkBlue);
}

