.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f0f2f5;
}

/* Top Nav */
.topNav {
  height: 70px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  border-bottom: 1px solid #ddd;
  border-bottom: 1px solid black;
}

.navLinks span {
  margin-left: 16px;
  cursor: pointer;
  color: #555;
}

.active {
  color: #25d366;
  font-weight: 600;
}

/* Layout */
.container {
  flex: 1;
  display: flex;
  overflow: hidden;
}

/* Sidebar */
.sidebar {
  width: 25%;
  background: #ffffff;
  border-right: 1px solid #ddd;
  overflow-y: auto;
}

.sidebarHeader {
  height: 60px;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.sidebarChats {
  padding: 10px;
}

.chatItem {
  display: flex;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
}

.chatItem:hover {
  background: #e9e6e6;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #bbb;
  margin-right: 12px;
}

.avatar img {
  max-width: 100%;
}

.chatInfo h4 {
  margin: 0;
  font-size: 1rem;
}

.chatInfo p {
  margin: 2px 0 0;
  font-size: 0.9rem;
  color: #666;
}

.time {
  margin-left: auto;
  font-size: 0.85rem;
  color: #888;
}

/* Chat Window */
.chatWindow {
  flex: 1;
  display: flex;
  position: relative;
  flex-direction: column;
  background: #efebe6;
}

.chatHeader {
  height: 60px;
  background: #ffffff;
  background-color: var(--primaryBlue);
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-bottom: 1px solid #ddd;
}

.status {
  font-size: 0.85rem;
  color: green;
}

/* Messages */
.messages {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
}

.message {
  max-width: 60%;
  min-width: 5%;
  width: fit-content;
  padding: 10px;
  margin-bottom: 8px;
  background: #ffffff;
  border-radius: 8px;
}

.self {
  background: #d9fdd3;
  background-color: var(--primaryBlue);
  margin-left: auto;
}

/* Emoji Picker  */
.emojiPickerContainer {
  height: 300px;
  position: absolute;
  left: 10px;
  bottom: 80px;
}

/* Input */
.inputBox {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  padding-bottom: 25px;
  background: #ffffff;
}

.emojiToggleContainer {
  width: 30px;
  cursor: pointer;
}

.emojiToggleContainer svg {
  width: 100%;
  fill: var(--darkBlue);
}

.inputBox input {
  flex: 1;
  padding: 8px;
}

.inputBox button {
  width: 50px;
  height: 30px;
  background-color: white;
  border: none;
  cursor: pointer;
}

.inputBox button svg {
  width: 100%;
  height: 100%;
  fill: var(--darkBlue);
}
