.page {
  height: 100vh;
  display: flex;
  background: #f0f2f5;
  font-family: Arial, sans-serif;
}

/* CHAT AREA */
.chatArea {
  flex: 1;
  display: flex;
  overflow: hidden;
}


@media screen and (max-width: 600px) {
  .page {
    flex-direction: column-reverse;
  }
}


@media screen and (max-width: 500px) {

  .chatArea {
    width: 100%;
    position: relative;
    overflow: hidden;
  }
}