/* ICON NAV */
.iconNav {
  width: 78px;
  height: 100%;
  background: #fff;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
  gap: 10px;
}

.appIcon {
  max-width: 40px;
  margin-bottom: 12px;
}

.navIcon {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.navIcon svg {
  width: 40px;
  fill: var(--darkBlue);
}

.navIcon:hover {
  background: #f5f5f5;
}

.active {
  background: #d7f7ff;
}

.svg {
  max-width: 100%;
}

@media screen and (max-width: 1000px) {

  .iconNav {
    width: 68px;
  }
  
  .navIcon {
    width: 50px;
    height: 50px;
  }

  .navIcon svg {
    width: 30px;
  }
}

@media screen and (max-width: 700px) {
  .iconNav {
    width: 54px;
  }
}

@media screen and (max-width: 600px) {
  .iconNav {
    width: 100%;
    height: 78px;
    flex-direction: row;
    border: 0.5px solid black;
    justify-content: space-around;
  }
}