
.page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(104deg, var(--darkBlue) 0%, var(--primaryBlue) 61%, var(--primaryBlue) 100%);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 600px;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
}

.imagediv {
    height: 40%;
}

.imagediv img {
    border-radius: 80px;
}

.imagediv h1 {
    font-size: 2.5rem;
    text-align: center;
    color: var(--darkBlue);
}

.loginform {
    width: 100%;
    height: 60%;
    padding-top: 30px;
}

.formrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.formrow label, .formrow input, .formrow .buttondiv {
    width: 90%;
}

.formrow label {
    font-size: 1.4rem;
}

.formrow input {
    height: 40px;
    padding: 0 10px;
    font-size: 1rem;
    transition: transform 0.3s ease-in-out;
}

.formrow input:focus {
    transform: scale(1.02);
}

.buttondiv {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.buttondiv button {
    width: 90%;
    height: 50px;
    font-size: 1.2rem;
    background-color: #FEEE91;
}