.page {
  height: 100vh;
  display: flex;
  background: #f0f2f5;
  font-family: Arial, sans-serif;
}

.profileArea {
  flex: 1;
  display: flex;
  overflow-y: auto;
  background: linear-gradient(104deg, var(--darkBlue) 0%, var(--primaryBlue) 61%, var(--primaryBlue) 100%);
}

.profileCont {
  width: 50%;
  min-width: 350px;
  max-width: 800px;
  max-height: 100%;
  margin: auto;
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.topRight {
  flex: 2;
  color: black;
  min-width: 0;
}

.avatar {
  flex: 1;
  min-width: 150px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.611);
}

.fullName {
  font-size: 2.5rem;
  font-weight: 700;
}

.userName {
  font-size: 1.5rem;
  font-weight: 500;
}

.bio {
  margin-top: 15px;
  font-size: 1.1rem;
  font-weight: 500;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px 20px;
}

.rowElement {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 1.4rem;
  color: var(--darkBlue);
  color: black;
}

.detailsInputs {
  font-size: 1.2rem;
  padding: 5px 10px;
  background-color: var(--yellow);
  border: none;
  color: black;
  opacity: 1;
}

.dates {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: var(--yellow);
}

/* Logout Button  */
.logoutBtn {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: var(--yellow);
  background-color: white;
  border: none;
  cursor: pointer;
  transition: all 0.02s ease-in;
}

.logoutBtn:hover {
  scale: 1.04;
}


@media screen and (max-width: 600px) {
  .page {
    flex-direction: column-reverse;
  }

  .fullName {
    font-size: 1.7rem;
  }

  .userName {
    font-size: 1.2rem;
  }

  .bio {
    font-size: 0.8rem;
  }

  .rowElement {
    font-size: 1.2rem;
  }

  .detailsInputs {
    font-size: 1rem;
  }

  .dates {
    font-size: 1rem;
  }
}