@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');

:root {
    --primaryBlue: #8CE4FF;
    --darkBlue: #2a7b9b;
    --yellow: #FEEE91;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Funnel Display", sans-serif;
    box-sizing: border-box;
}

.visibleDiv {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    backdrop-filter: blur(4px);
    z-index: 10;
    transition: all 0.1s;
}

.visibleDiv:hover {
    backdrop-filter: blur(0px);
}